<%= turbo_frame_tag(dom_id work) do %>

  <p>
    <strong>Title:</strong>
    <%= work.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= work.url %>
  </p>

  <p>
    <strong>Technologies:</strong>
    <%= work.technologies %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= work.details %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= work.image %>
  </p>

<% end %>
